{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mobilebankinguat2.nonprod.hibank.co.id/api/auditservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/audit/list": {
      "post": {
        "tags": [
          "audit-data-controller"
        ],
        "operationId": "list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriteriaField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTPageableResponseDtoListAuditRespDto"
                }
              }
            }
          }
        }
      }
    },
    "/cache/reload": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "execute",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/cache/reload/{cachename}": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "execute_1",
        "parameters": [
          {
            "name": "cachename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/cache/list": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "list_1",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/audit/metadata": {
      "get": {
        "tags": [
          "audit-data-controller"
        ],
        "operationId": "list_2",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoMapObjectObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ISTResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "CriteriaField": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FilterField"
            }
          },
          "order": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FilterField": {
        "type": "object",
        "properties": {
          "operator": {
            "type": "string",
            "enum": [
              "eq",
              "not_eq",
              "gt",
              "gte",
              "in",
              "lt",
              "lte",
              "contains",
              "is_empty",
              "is_not_empty",
              "bw"
            ]
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "object"
          }
        }
      },
      "ISTPageableResponseDtoListAuditRespDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfoDto"
          },
          "metaData": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "PageInfoDto": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ISTResponseDtoObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "ISTResponseDtoMapObjectObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}