{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mobilebankinguat2.nonprod.hibank.co.id/api/loanservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/submit/notBinded": {
      "post": {
        "tags": [
          "loan-submit-controller"
        ],
        "operationId": "notBinded",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoLoanSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submit/binded": {
      "post": {
        "tags": [
          "loan-submit-controller"
        ],
        "operationId": "binded",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoLoanSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/simulation/viewDetailLoanInstallment": {
      "post": {
        "tags": [
          "loan-simulation-controller"
        ],
        "operationId": "detail",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/simulation/calculate": {
      "post": {
        "tags": [
          "loan-simulation-controller"
        ],
        "operationId": "calculate",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanSimulationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoLoanSimulationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product/list": {
      "post": {
        "tags": [
          "loan-product-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoLoanProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/validate/loan": {
      "post": {
        "tags": [
          "hi-talang-controller"
        ],
        "operationId": "validateLoan",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanValidateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/validate/eligible": {
      "post": {
        "tags": [
          "hi-talang-controller"
        ],
        "operationId": "validateEligible",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanValidateEligibleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/validate/loan": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "validateLoan_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanValidateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/validate/eligible": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "validateEligible_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangLoanValidateEligibleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanValidateEligibleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/repayment/validate": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "repaymentValidate",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangRepaymentValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangRepaymentValidateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/repayment/posting": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "repaymentPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangLoanPostingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangRepaymentPostingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/repayment/inquiry": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "repaymentInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangRepaymentInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangRepaymentInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/list": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "list_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/history/list": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "listHistory",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/disburse/posting": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "disbursePosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangLoanPostingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanPostingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/v2/disburse/inquiry": {
      "post": {
        "tags": [
          "new-hi-talang-controller"
        ],
        "operationId": "disburseInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangLoanInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/posting": {
      "post": {
        "tags": [
          "hi-talang-controller"
        ],
        "operationId": "posting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangLoanPostingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanPostingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/list": {
      "post": {
        "tags": [
          "hi-talang-controller"
        ],
        "operationId": "list_2",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/inquiry": {
      "post": {
        "tags": [
          "hi-talang-controller"
        ],
        "operationId": "inquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HiTalangLoanInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hitalang/history/list": {
      "post": {
        "tags": [
          "hi-talang-controller"
        ],
        "operationId": "listHistory_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoHiTalangLoanHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hipinka/validate/loan": {
      "post": {
        "tags": [
          "hi-pinka-controller"
        ],
        "operationId": "validateLoan_2",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
[...]
