{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mobilebankinguat2.nonprod.hibank.co.id/api/paymentservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/television/posting": {
      "post": {
        "tags": [
          "tv-controller"
        ],
        "operationId": "tvPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentTvPostingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/television/inquiry": {
      "post": {
        "tags": [
          "tv-controller"
        ],
        "operationId": "tvInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentTvInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoBillPaymentTvInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telco/postpaid/payment": {
      "post": {
        "tags": [
          "telco-controller"
        ],
        "operationId": "paymentPostpaid",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTelcoPostingPostpaidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telco/postpaid/inquiry": {
      "post": {
        "tags": [
          "telco-controller"
        ],
        "operationId": "inquiryPostpaid",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelcoInquiryPostpaidRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTelcoInquiryPostpaidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telco/list": {
      "post": {
        "tags": [
          "telco-controller"
        ],
        "operationId": "listProvider",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelcoListProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTelcoListProviderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telco/check": {
      "post": {
        "tags": [
          "telco-controller"
        ],
        "operationId": "checkMsisdnProvider",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelcoCheckProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTelcoCheckProviderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plnNonTaglis/posting": {
      "post": {
        "tags": [
          "bill-payment-pln-non-taglis-controller"
        ],
        "operationId": "posting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoPlnNonTaglisPaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plnNonTaglis/inquiry": {
      "post": {
        "tags": [
          "bill-payment-pln-non-taglis-controller"
        ],
        "operationId": "inquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlnNonTaglisInqRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoPlnNonTaglisInqResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pln/posting": {
      "post": {
        "tags": [
          "bill-payment-pln-postpaid-controller"
        ],
        "operationId": "plnPostpaido",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoPlnPostpaidPaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pln/inquiry": {
      "post": {
        "tags": [
          "bill-payment-pln-postpaid-controller"
        ],
        "operationId": "plnPostpaidoInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlnPostpaidInqRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoPlnPostpaidInqResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pkb/signal/posting": {
      "post": {
        "tags": [
          "pkb-controller"
        ],
        "operationId": "inquiry_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/pkb/signal/inquiry": {
      "post": {
        "tags": [
          "pkb-controller"
        ],
        "operationId": "inquiry_2",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentPkbSignalInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoBillPaymentPkbSignalInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pkb/esamsat/posting": {
      "post": {
        "tags": [
          "pkb-controller"
        ],
        "operationId": "posting_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/pkb/esamsat/list": {
      "post": {
        "tags": [
          "pkb-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoBillPaymentPkbSamsatListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pkb/esamsat/inquiry": {
      "post": {
        "tags": [
          "pkb-controller"
        ],
        "operationId": "inquiry_3",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentPkbSamsatInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoBillPaymentPkbSamsatInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pkb/esamsat/check": {
      "post": {
        "tags": [
          "pkb-controller"
        ],
        "operationId": "check",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentPkbSamsatCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/pdl/posting": {
      "post": {
        "tags": [
          "pdl-controller"
        ],
        "operationId": "pdlPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/pdl/inquiry": {
      "post": {
        "tags": [
          "pdl-controller"
        ],
        "operationId": "pdlInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentPdlInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoPaymentPdlInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdam/posting": {
      "post": {
        "tags": [
          "pdam-controller"
        ],
        "operationId": "pdamPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoBillpaymentPdamPaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdam/inquiry": {
      "post": {
        "tags": [
          "pdam-controller"
        ],
        "operationId": "pdamInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPaymentPdamInquiryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoBillPaymentPdamInquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pbb/posting": {
      "post": {
        "tags": [
          "pbb-controller"
        ],
        "operationId": "pbbPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
[...]
