{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mobilebankinguat2.nonprod.hibank.co.id/api/registrationservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/validate/userAccount": {
      "post": {
        "tags": [
          "validate-customer"
        ],
        "operationId": "validateAccountAndUserId",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateUserAccountAndUserId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/validate/userAccount/autoSaved": {
      "post": {
        "tags": [
          "validate-customer"
        ],
        "operationId": "validateAccountAndUserIdV2",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateUserAccountAndUserId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/validate/mayoraUserId": {
      "post": {
        "tags": [
          "validate-customer"
        ],
        "operationId": "validateMayoraUserId",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateMayoraUserIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/registrationType": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "registrationType",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoRegistrationTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/validateAml": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "validateAml",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoAmlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/personalData": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "personalData",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoPersonalDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/ocr": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "ocr",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OcrRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoOcrResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/liveness": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "liveness",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoLivenessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/customerJob": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "customerJob",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerJobRq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCustomerJobRs"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/customerAddress": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "customerAddress",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCustomerAddressResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/createMpin": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "createMpin",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMpinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCreateMpinResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/ntb/checkSimilarity": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "checkSimilarity",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCheckSimilarityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/getData": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "getData",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoGetDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/etb/validateCustomer": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "validateCustomer",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateUserAccountAndUserId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoValidateCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/etb/validateAtm": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "validateAtm",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAtmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoValidateAtmResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/etb/updateEmail": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "updateEmail",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoUpdateEmailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/etb/liveness": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "etbLiveness",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoLivenessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/etb/createMpin": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "createMpin_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMpinEkycRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCreateMpinResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registration/v2/createUserPass": {
      "post": {
        "tags": [
          "new-registration-controller"
        ],
        "operationId": "createUserPass",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCreatePasswordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/whatsapp": {
      "post": {
        "tags": [
          "whatsapp-integration-controller"
        ],
        "operationId": "whatsappIntegration",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsappIntegrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/whatsapp/validateToken": {
      "post": {
        "tags": [
          "whatsapp-integration-controller"
        ],
        "operationId": "validateToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoValidateTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ekyc/validateCifByNik": {
      "post": {
        "tags": [
          "ekyc-controller"
        ],
        "operationId": "validateCifByNik",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
[...]
