{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mobilebankinguat2.nonprod.hibank.co.id/api/transferservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/transfer/validatePhoneNumber": {
      "post": {
        "tags": [
          "validate-controller"
        ],
        "operationId": "validatePhoneNumber",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckPhoneNumberRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCheckPhoneNumberResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/validateLimitTransfer": {
      "post": {
        "tags": [
          "validate-controller"
        ],
        "operationId": "validateLimitTransfer",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoCheckLimitTransferResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/skn/posting": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferSknPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferSknPostingIntegrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/skn/inquiry": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferSknInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferSknInquiryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferSknInquiryResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/rto/posting": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferRtoPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferRtoPostingIntegrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/rto/inquiry": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferRtoInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRtoInquiryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferRtoInquiryResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/onus/posting": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferUsPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferPaymentMpinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferOnUsPostingIntegrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/onus/inquiry": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferOnusInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferInquiryOnUsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferInquiryOnUsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/onus/MethodTransfer": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "listMethodTransferOnUs",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoListMethodResponseDto"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/transfer/offus/posting": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferOffUsPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/offus/inquiry": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferoffUsInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferInquiryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferInquiryResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/offus/MethodTransfer": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "listMethodTransferOffUs",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMethodRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoListMethodResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/bifast/posting": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferBifastPosting",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpinValidateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferBiFastPostingIntegrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/bifast/inquiry": {
      "post": {
        "tags": [
          "transfer-controller"
        ],
        "operationId": "transferBifastInquiry",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBifastInquiryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferBifastInquiryResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transactionPurpose": {
      "post": {
        "tags": [
          "list-controller"
        ],
        "operationId": "getListTransactionPurpose",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoListContentParameterResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/recipientType": {
      "post": {
        "tags": [
          "list-controller"
        ],
        "operationId": "getListRecipientType",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoListContentParameterResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/citizenship": {
      "post": {
        "tags": [
          "list-controller"
        ],
        "operationId": "getListCitizenship",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoListContentParameterResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cache/reload": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "execute",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/cache/reload/{cachename}": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "execute_1",
        "parameters": [
          {
            "name": "cachename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/cache/list": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "list",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ISTResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "CheckPhoneNumberRequestDto": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "CheckPhoneNumberResponseDto": {
        "type": "object",
        "properties": {
          "returnCode": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          }
        }
      },
      "ISTResponseDtoCheckPhoneNumberResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/CheckPhoneNumberResponseDto"
          }
        }
      },
      "CheckLimitTransferResponseDto": {
        "type": "object",
        "properties": {
          "accountName": {
            "type": "string"
          },
          "availableBalance": {
            "type": "number",
            "format": "double"
          },
          "clearBalance": {
            "type": "number",
            "format": "double"
          },
          "status": {
            "type": "string"
          },
          "accountNo": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "accountCurrency": {
            "type": "string"
          },
          "accountAlias": {
            "type": "string"
          },
          "productName": {
            "type": "string"
          },
          "dailyLimits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterDailyLimit"
            }
          },
          "userDailyLimits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDailyLimitResponse"
            }
          }
        }
      },
      "ISTResponseDtoCheckLimitTransferResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/CheckLimitTransferResponseDto"
          }
        }
      },
      "MasterDailyLimit": {
        "type": "object",
        "properties": {
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "transactionCategory": {
            "type": "string"
          },
          "maxAmountPerTransactionLimit": {
            "type": "number"
          },
          "minAmountPerTransactionLimit": {
            "type": "number"
          },
          "nameEn": {
            "type": "string"
          },
          "nameId": {
            "type": "string"
          },
          "maxFrequencyDailyTransaction": {
            "type": "integer",
            "format": "int32"
          },
          "currency": {
            "type": "string"
          },
          "maxAmountDailyDefault": {
            "type": "number"
          },
          "transactionGroup": {
            "type": "string"
          },
          "cardCode": {
            "type": "string"
          }
        }
      },
      "UserDailyLimitResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "transactionCategory": {
            "type": "string",
            "enum": [
              "TransactionCategory.TRANSFER_ON_US",
              "TransactionCategory.TRANSFER_OFF_US",
              "TransactionCategory.TRANSFER_BI_FAST",
              "TransactionCategory.TRANSFER_BI_FAST_PROXY",
              "TransactionCategory.TRANSFER_SKN",
              "TransactionCategory.TRANSFER_RTGS",
              "TransactionCategory.TRANSFER_RTO",
              "TransactionCategory.PURCHASE_TELCO",
              "TransactionCategory.PURCHASE_PLN",
              "TransactionCategory.PURCHASE_DATA_PLAN",
              "TransactionCategory.PURCHASE_EMONEY",
              "TransactionCategory.PURCHASE_FLAZZ",
              "TransactionCategory.PAYMENT_PDAM",
              "TransactionCategory.PAYMENT_PDAM_VA",
              "TransactionCategory.PAYMENT_TV",
              "TransactionCategory.PAYMENT_INTERNET",
              "TransactionCategory.PAYMENT_BPHTB",
              "TransactionCategory.PAYMENT_PBB",
              "TransactionCategory.PAYMENT_PDL",
              "TransactionCategory.QRIS_MPM",
              "TransactionCategory.PAYMENT_PKB_SIGNAL",
              "TransactionCategory.PAYMENT_PKB_SAMSAT",
              "TransactionCategory.PAYMENT_PLN_NONTAGLIS",
              "TransactionCategory.PAYMENT_PLN",
              "TransactionCategory.PAYMENT_BPJS_KESEHATAN",
              "TransactionCategory.PAYMENT_BPJSKETENAGAKERJAAN",
              "TransactionCategory.PAYMENT_EDUCATION",
              "TransactionCategory.PAYMENT_EDUCATION_SD",
              "TransactionCategory.PAYMENT_EDUCATION_SMP",
              "TransactionCategory.PAYMENT_EDUCATION_SMA",
              "TransactionCategory.PAYMENT_EDUCATION_PONPES",
              "TransactionCategory.PAYMENT_EDUCATION_UNIVERSITAS",
              "TransactionCategory.PAYMENT_TELCO",
              "TransactionCategory.PURCHASE_EWALLET",
              "TransactionCategory.EWALLET_GOPAY",
              "TransactionCategory.EWALLET_OVO",
              "TransactionCategory.EWALLET_SHOPEEPAY",
              "TransactionCategory.EWALLET_DANA",
              "TransactionCategory.EWALLET_LINKAJA",
              "TransactionCategory.INCOMING_TRANSACTION",
              "TransactionCategory.HITALANG",
              "TransactionCategory.HIPINKA",
              "TransactionCategory.REPAYMENT_HITALANG"
            ]
          },
          "transactionCode": {
            "type": "string"
          },
          "maxAmountDaily": {
            "type": "number"
          },
          "lastTransactionDate": {
            "type": "string",
            "format": "date-time"
          },
          "currentTotalAmountDaily": {
            "type": "number"
          },
          "usingDefaultLimit": {
            "type": "boolean"
          },
          "remainingDailyTransaction": {
            "type": "integer",
            "format": "int32"
          },
          "userProfileId": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "transactionGroup": {
            "type": "string",
            "enum": [
              "TRANSFER",
              "PURCHASE",
              "PAYMENT",
              "QRIS",
              "EWALLET"
            ]
          },
          "accountNumber": {
            "type": "string"
          },
          "maxAmountPerTransactionLimit": {
            "type": "number"
          },
          "userDailyLimit": {
            "type": "number"
          }
        }
      },
      "MpinValidateRequestDto": {
        "required": [
          "metaData",
          "mpin",
          "oaepLabel",
          "publicKeyId"
        ],
        "type": "object",
        "properties": {
          "mpin": {
            "type": "string"
          },
          "metaData": {
            "type": "string"
          },
          "publicKeyId": {
            "type": "integer",
            "format": "int64"
          },
          "oaepLabel": {
            "type": "string"
          }
        }
      },
      "ISTResponseDtoTransferSknPostingIntegrationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/TransferSknPostingIntegrationResponse"
          }
        }
      },
      "TransferSknPostingIntegrationResponse": {
        "type": "object",
        "properties": {
          "dateTime": {
            "type": "string"
          },
          "destinationBankCode": {
            "type": "string"
          },
          "destinationBankName": {
            "type": "string"
          },
          "toAccountNo": {
            "type": "string"
          },
          "toAccountName": {
            "type": "string"
          },
          "sourceBankCode": {
            "type": "string"
          },
          "sourceBankName": {
            "type": "string"
          },
          "sourceAccountNo": {
            "type": "string"
          },
          "sourceAccountName": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "transferNominal": {
            "type": "number",
            "format": "double"
          },
          "fee": {
            "type": "number",
            "format": "double"
          },
          "methodTransfer": {
            "type": "string"
          },
          "totalTransfer": {
            "type": "number",
            "format": "double"
          },
          "typeAccount": {
            "type": "string"
          },
          "citizenship": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          },
          "transactionSchedule": {
            "type": "string"
          },
          "transactionCategory": {
            "type": "string",
            "enum": [
              "TransactionCategory.TRANSFER_ON_US",
              "TransactionCategory.TRANSFER_OFF_US",
              "TransactionCategory.TRANSFER_BI_FAST",
[...]
