{
  "openapi": "3.0.1",
  "info": {
    "title": "Document API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mobilebankinguat2.nonprod.hibank.co.id/api/transactionhistoryservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/userTransaction/list": {
      "post": {
        "tags": [
          "user-transaction-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriteriaField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoGetUserTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/userTransaction/edit": {
      "post": {
        "tags": [
          "user-transaction-controller"
        ],
        "operationId": "edit",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUserTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/userTransaction/delete": {
      "post": {
        "tags": [
          "user-transaction-controller"
        ],
        "operationId": "delete",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletedUserTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/updatetransaction": {
      "post": {
        "tags": [
          "transaction-history-controller"
        ],
        "operationId": "updateTransactionHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionHistoryReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTTransactionHistory"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/list": {
      "post": {
        "tags": [
          "transaction-history-controller"
        ],
        "operationId": "list_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecentTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoRecentTransferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/getById": {
      "post": {
        "tags": [
          "transaction-history-controller"
        ],
        "operationId": "getById",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTransactionHistoryByIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoGetTransactionHistoryByIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/destinationNumber": {
      "post": {
        "tags": [
          "transaction-history-controller"
        ],
        "operationId": "listAll",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferDestinationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferDestinationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/all/list": {
      "post": {
        "tags": [
          "all-transaction-history-controller"
        ],
        "operationId": "list_2",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllRecentTransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoRecentTransferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/all/getById": {
      "post": {
        "tags": [
          "all-transaction-history-controller"
        ],
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTransactionHistoryByIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoGetTransactionHistoryByIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/all/destinationNumber": {
      "post": {
        "tags": [
          "all-transaction-history-controller"
        ],
        "operationId": "listAll_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoTransferDestinationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/userTransaction/getMetaData": {
      "get": {
        "tags": [
          "user-transaction-controller"
        ],
        "operationId": "getMetaData",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/transfer/getMetaData": {
      "get": {
        "tags": [
          "transaction-history-controller"
        ],
        "operationId": "getMetaData_1",
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "Channel",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "MB"
                }
              }
            }
          },
          {
            "name": "device-id",
            "in": "header",
            "description": "Device ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "DeviceId"
                }
              }
            }
          },
          {
            "name": "device-os",
            "in": "header",
            "description": "Device OS",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Android"
                }
              }
            }
          },
          {
            "name": "device-model",
            "in": "header",
            "description": "Device Model",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Model"
                }
              }
            }
          },
          {
            "name": "device-brand",
            "in": "header",
            "description": "Device Brand",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "Device-Brand"
                }
              }
            }
          },
          {
            "name": "app-version",
            "in": "header",
            "description": "App Version",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "1.0.0"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "header",
            "description": "Language",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "IDN"
                }
              }
            }
          },
          {
            "name": "latitude",
            "in": "header",
            "description": "Latitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "longitude",
            "in": "header",
            "description": "Longitude",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "default": "0.000000"
                }
              }
            }
          },
          {
            "name": "X-HB-Sess-Auth",
            "in": "header",
            "description": "X-HB-Sess-Auth",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cache/reload": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "execute",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/cache/reload/{cachename}": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "execute_1",
        "parameters": [
          {
            "name": "cachename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/cache/list": {
      "get": {
        "tags": [
          "cache-controller"
        ],
        "operationId": "list_3",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ISTResponseDtoObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ISTResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "CriteriaField": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FilterField"
            }
          },
          "order": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FilterField": {
        "type": "object",
        "properties": {
          "operator": {
            "type": "string",
            "enum": [
              "eq",
              "not_eq",
              "gt",
              "gte",
              "in",
              "lt",
              "lte",
              "contains",
              "is_empty",
              "is_not_empty",
              "bw"
            ]
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "object"
          }
        }
      },
      "GetUserTransactionResponse": {
        "type": "object",
        "properties": {
          "userTransactionList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterUserTransaction"
            }
          },
          "totalPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalItem": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ISTResponseDtoGetUserTransactionResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/GetUserTransactionResponse"
          }
        }
      },
      "MasterUserTransaction": {
        "type": "object",
        "properties": {
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userProfileId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "transactionGroup": {
            "type": "string",
            "enum": [
              "TRANSFER",
              "PURCHASE",
              "PAYMENT",
              "QRIS",
              "EWALLET"
            ]
          },
          "transactionCategory": {
            "type": "string",
            "enum": [
              "TransactionCategory.TRANSFER_ON_US",
              "TransactionCategory.TRANSFER_OFF_US",
              "TransactionCategory.TRANSFER_BI_FAST",
              "TransactionCategory.TRANSFER_BI_FAST_PROXY",
              "TransactionCategory.TRANSFER_SKN",
              "TransactionCategory.TRANSFER_RTGS",
              "TransactionCategory.TRANSFER_RTO",
              "TransactionCategory.PURCHASE_TELCO",
              "TransactionCategory.PURCHASE_PLN",
              "TransactionCategory.PURCHASE_DATA_PLAN",
              "TransactionCategory.PURCHASE_EMONEY",
              "TransactionCategory.PURCHASE_FLAZZ",
              "TransactionCategory.PAYMENT_PDAM",
              "TransactionCategory.PAYMENT_PDAM_VA",
              "TransactionCategory.PAYMENT_TV",
              "TransactionCategory.PAYMENT_INTERNET",
              "TransactionCategory.PAYMENT_BPHTB",
              "TransactionCategory.PAYMENT_PBB",
              "TransactionCategory.PAYMENT_PDL",
              "TransactionCategory.QRIS_MPM",
              "TransactionCategory.PAYMENT_PKB_SIGNAL",
              "TransactionCategory.PAYMENT_PKB_SAMSAT",
              "TransactionCategory.PAYMENT_PLN_NONTAGLIS",
              "TransactionCategory.PAYMENT_PLN",
              "TransactionCategory.PAYMENT_BPJS_KESEHATAN",
              "TransactionCategory.PAYMENT_BPJSKETENAGAKERJAAN",
              "TransactionCategory.PAYMENT_EDUCATION",
              "TransactionCategory.PAYMENT_EDUCATION_SD",
              "TransactionCategory.PAYMENT_EDUCATION_SMP",
              "TransactionCategory.PAYMENT_EDUCATION_SMA",
              "TransactionCategory.PAYMENT_EDUCATION_PONPES",
              "TransactionCategory.PAYMENT_EDUCATION_UNIVERSITAS",
              "TransactionCategory.PAYMENT_TELCO",
              "TransactionCategory.PURCHASE_EWALLET",
              "TransactionCategory.EWALLET_GOPAY",
              "TransactionCategory.EWALLET_OVO",
              "TransactionCategory.EWALLET_SHOPEEPAY",
              "TransactionCategory.EWALLET_DANA",
              "TransactionCategory.EWALLET_LINKAJA",
              "TransactionCategory.INCOMING_TRANSACTION",
              "TransactionCategory.HITALANG",
              "TransactionCategory.HIPINKA",
              "TransactionCategory.REPAYMENT_HITALANG"
            ]
          },
          "transactionAmount": {
            "type": "number"
          },
          "transactionCurrency": {
            "type": "string"
          },
          "additionalData": {
            "type": "string"
          },
          "destinationNumber": {
            "type": "string"
          },
          "destinationOwnerName": {
            "type": "string"
          },
          "destinationCode": {
            "type": "string"
          },
          "destinationName": {
            "type": "string"
          },
          "isFavorite": {
            "type": "boolean"
          },
          "methodTransfer": {
            "type": "string"
          },
          "sourceOfFund": {
            "type": "string"
          },
          "receiverType": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "isPhoneNumber": {
            "type": "boolean"
          },
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "EditUserTransactionRequest": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "DeletedUserTransactionRequest": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UpdateTransactionHistoryReq": {
        "required": [
          "transactionId",
          "transactionStatus"
        ],
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "transactionStatus": {
            "type": "string",
            "enum": [
              "TransactionStatus.SUCCESS",
              "TransactionStatus.FAILED",
              "TransactionStatus.PROCESSING",
              "TransactionStatus.SUSPECT"
            ]
          }
        }
      },
      "ISTResponseDtoTTransactionHistory": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/TTransactionHistory"
          }
        }
      },
      "MasterUserProfile": {
        "type": "object",
        "properties": {
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "BLOCKED",
              "SUSPECT",
              "DELETED",
              "INACTIVE"
            ]
          },
          "cif": {
            "type": "string"
          },
          "cifSyariah": {
            "type": "string"
          },
          "nameAlias": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "failedLoginAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "failedOtpAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "failedPinAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "quickAccess": {
            "type": "boolean"
          },
          "financialReport": {
            "type": "boolean"
          },
          "lastSyncData": {
            "type": "string",
            "format": "date-time"
          },
          "lastFailedLogin": {
            "type": "string",
            "format": "date-time"
          },
          "lastSuccessLogin": {
            "type": "string",
            "format": "date-time"
          },
          "lastFailedMpin": {
            "type": "string",
            "format": "date-time"
          },
          "lastFailedOtp": {
            "type": "string",
            "format": "date-time"
          },
          "lastFailedSoftToken": {
            "type": "string",
            "format": "date-time"
          },
          "firstLogin": {
            "type": "boolean"
          },
          "failedForgotUserIdAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "failedForgotPasswordAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "failedSoftTokenAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "registerAtm": {
            "type": "boolean"
          },
          "userType": {
            "type": "string",
            "enum": [
              "BANKED",
              "UNBANKED_PARTIAL",
              "UNBANKED_FULL"
            ]
          },
          "verifiedEmail": {
            "type": "boolean"
          },
          "userAvatar": {
            "type": "string"
          },
          "isRegisteredEmail": {
            "type": "boolean"
          },
          "registrationProcess": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "isWhitelist": {
            "type": "boolean"
          },
          "activePromo": {
            "type": "boolean"
          },
          "boundUserReferralCode": {
            "type": "string"
          }
        }
      },
      "TTransactionHistory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userProfileId": {
            "type": "integer",
            "format": "int64"
          },
          "channelCode": {
            "type": "string"
          },
          "transactionGroup": {
            "type": "string",
            "enum": [
              "TRANSFER",
              "PURCHASE",
              "PAYMENT",
              "QRIS",
              "EWALLET"
            ]
          },
          "transactionCategory": {
            "type": "string",
            "enum": [
              "TransactionCategory.TRANSFER_ON_US",
              "TransactionCategory.TRANSFER_OFF_US",
              "TransactionCategory.TRANSFER_BI_FAST",
              "TransactionCategory.TRANSFER_BI_FAST_PROXY",
              "TransactionCategory.TRANSFER_SKN",
              "TransactionCategory.TRANSFER_RTGS",
              "TransactionCategory.TRANSFER_RTO",
              "TransactionCategory.PURCHASE_TELCO",
              "TransactionCategory.PURCHASE_PLN",
              "TransactionCategory.PURCHASE_DATA_PLAN",
              "TransactionCategory.PURCHASE_EMONEY",
              "TransactionCategory.PURCHASE_FLAZZ",
              "TransactionCategory.PAYMENT_PDAM",
              "TransactionCategory.PAYMENT_PDAM_VA",
              "TransactionCategory.PAYMENT_TV",
              "TransactionCategory.PAYMENT_INTERNET",
              "TransactionCategory.PAYMENT_BPHTB",
              "TransactionCategory.PAYMENT_PBB",
              "TransactionCategory.PAYMENT_PDL",
              "TransactionCategory.QRIS_MPM",
              "TransactionCategory.PAYMENT_PKB_SIGNAL",
              "TransactionCategory.PAYMENT_PKB_SAMSAT",
              "TransactionCategory.PAYMENT_PLN_NONTAGLIS",
              "TransactionCategory.PAYMENT_PLN",
              "TransactionCategory.PAYMENT_BPJS_KESEHATAN",
              "TransactionCategory.PAYMENT_BPJSKETENAGAKERJAAN",
              "TransactionCategory.PAYMENT_EDUCATION",
              "TransactionCategory.PAYMENT_EDUCATION_SD",
              "TransactionCategory.PAYMENT_EDUCATION_SMP",
              "TransactionCategory.PAYMENT_EDUCATION_SMA",
              "TransactionCategory.PAYMENT_EDUCATION_PONPES",
              "TransactionCategory.PAYMENT_EDUCATION_UNIVERSITAS",
              "TransactionCategory.PAYMENT_TELCO",
              "TransactionCategory.PURCHASE_EWALLET",
              "TransactionCategory.EWALLET_GOPAY",
              "TransactionCategory.EWALLET_OVO",
              "TransactionCategory.EWALLET_SHOPEEPAY",
              "TransactionCategory.EWALLET_DANA",
              "TransactionCategory.EWALLET_LINKAJA",
              "TransactionCategory.INCOMING_TRANSACTION",
              "TransactionCategory.HITALANG",
              "TransactionCategory.HIPINKA",
              "TransactionCategory.REPAYMENT_HITALANG"
            ]
          },
          "payeeCode": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          },
          "transactionDescription": {
            "type": "string"
          },
          "transactionDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "transactionStatus": {
            "type": "string",
            "enum": [
              "TransactionStatus.SUCCESS",
              "TransactionStatus.FAILED",
              "TransactionStatus.PROCESSING",
              "TransactionStatus.SUSPECT"
            ]
          },
          "transactionCurrency": {
            "type": "string",
            "enum": [
              "TransactionCurrency.IDR",
              "TransactionCurrency.USD",
              "TransactionCurrency.RP"
            ]
          },
          "transactionAmount": {
            "type": "number"
          },
          "transactionAmountEquivalent": {
            "type": "number"
          },
          "transactionFee": {
            "type": "number"
          },
          "esbErrorCode": {
            "type": "string"
          },
          "srcSystemErrorCode": {
            "type": "string"
          },
          "srcSystem": {
            "type": "string"
          },
          "errorDesc": {
            "type": "string"
          },
          "coreRefNo": {
            "type": "string"
          },
          "srcAccountNo": {
            "type": "string"
          },
          "srcAccountType": {
            "type": "string"
          },
          "srcAccountOwnerName": {
            "type": "string"
          },
          "srcAccountCurrency": {
            "type": "string"
          },
          "srcBankCode": {
            "type": "string"
          },
          "srcBankName": {
            "type": "string"
          },
          "dstAccountNo": {
            "type": "string"
          },
          "dstAccountType": {
            "type": "string"
          },
          "dstAccountOwnerName": {
            "type": "string"
          },
          "dstAccountCurrency": {
            "type": "string"
          },
          "dstBankCode": {
            "type": "string"
          },
          "dstBankName": {
            "type": "string"
          },
          "tranAdditionalData1": {
            "type": "string"
          },
          "tranAdditionalData2": {
            "type": "string"
          },
          "tranAdditionalData3": {
            "type": "string"
          },
          "transactionExchangeRate": {
            "type": "number"
          },
          "scheduleTransactionId": {
            "type": "integer",
            "format": "int64"
          },
          "transactionState": {
            "type": "string",
            "enum": [
              "INQUIRY",
              "EXECUTE",
              "INQUIRY_PARTIAL",
              "SCHEDULED",
              "CARDLESS_EXPIRED",
              "CARDLESS_COMPLETED",
              "CARDLESS_PENDING",
              "CARDLESS_FAILED"
            ]
          },
          "receiptData": {
            "type": "string"
          },
          "receiptIdn": {
            "type": "string"
          },
          "receiptEng": {
            "type": "string"
          },
          "bpName": {
            "type": "string"
          },
          "msgRefNo": {
            "type": "string"
          },
          "billRefNo": {
            "type": "string"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "isPhoneNumber": {
            "type": "boolean"
          },
          "phoneNumber": {
            "type": "string"
          },
          "masterUserProfile": {
            "$ref": "#/components/schemas/MasterUserProfile"
          },
          "deviceId": {
            "type": "string"
          },
          "deviceInfo": {
            "type": "string"
          },
          "deviceOs": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "RecentTransferRequest": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "transactionGroup": {
            "type": "string"
          },
          "transactionCategory": {
            "type": "string"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "empty": {
            "type": "boolean"
          },
          "sorted": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          }
        }
      },
      "ISTResponseDtoRecentTransferResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/RecentTransferResponse"
          }
        }
      },
      "RecentTransferResponse": {
        "type": "object",
        "properties": {
          "transactionHistories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryRes"
            }
          },
          "totalPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalItem": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TransactionHistoryRes": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userProfileId": {
            "type": "integer",
            "format": "int64"
          },
          "channelCode": {
            "type": "string"
          },
          "transactionGroup": {
            "type": "string",
            "enum": [
              "TRANSFER",
              "PURCHASE",
              "PAYMENT",
              "QRIS",
              "EWALLET"
            ]
          },
          "transactionCategory": {
            "type": "string",
            "enum": [
              "TransactionCategory.TRANSFER_ON_US",
              "TransactionCategory.TRANSFER_OFF_US",
              "TransactionCategory.TRANSFER_BI_FAST",
              "TransactionCategory.TRANSFER_BI_FAST_PROXY",
              "TransactionCategory.TRANSFER_SKN",
              "TransactionCategory.TRANSFER_RTGS",
              "TransactionCategory.TRANSFER_RTO",
              "TransactionCategory.PURCHASE_TELCO",
              "TransactionCategory.PURCHASE_PLN",
              "TransactionCategory.PURCHASE_DATA_PLAN",
              "TransactionCategory.PURCHASE_EMONEY",
              "TransactionCategory.PURCHASE_FLAZZ",
              "TransactionCategory.PAYMENT_PDAM",
              "TransactionCategory.PAYMENT_PDAM_VA",
              "TransactionCategory.PAYMENT_TV",
              "TransactionCategory.PAYMENT_INTERNET",
              "TransactionCategory.PAYMENT_BPHTB",
              "TransactionCategory.PAYMENT_PBB",
              "TransactionCategory.PAYMENT_PDL",
              "TransactionCategory.QRIS_MPM",
              "TransactionCategory.PAYMENT_PKB_SIGNAL",
              "TransactionCategory.PAYMENT_PKB_SAMSAT",
              "TransactionCategory.PAYMENT_PLN_NONTAGLIS",
              "TransactionCategory.PAYMENT_PLN",
              "TransactionCategory.PAYMENT_BPJS_KESEHATAN",
              "TransactionCategory.PAYMENT_BPJSKETENAGAKERJAAN",
              "TransactionCategory.PAYMENT_EDUCATION",
              "TransactionCategory.PAYMENT_EDUCATION_SD",
              "TransactionCategory.PAYMENT_EDUCATION_SMP",
              "TransactionCategory.PAYMENT_EDUCATION_SMA",
              "TransactionCategory.PAYMENT_EDUCATION_PONPES",
              "TransactionCategory.PAYMENT_EDUCATION_UNIVERSITAS",
              "TransactionCategory.PAYMENT_TELCO",
              "TransactionCategory.PURCHASE_EWALLET",
              "TransactionCategory.EWALLET_GOPAY",
              "TransactionCategory.EWALLET_OVO",
              "TransactionCategory.EWALLET_SHOPEEPAY",
              "TransactionCategory.EWALLET_DANA",
              "TransactionCategory.EWALLET_LINKAJA",
              "TransactionCategory.INCOMING_TRANSACTION",
              "TransactionCategory.HITALANG",
              "TransactionCategory.HIPINKA",
              "TransactionCategory.REPAYMENT_HITALANG"
            ]
          },
          "payeeCode": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          },
          "transactionDescription": {
            "type": "string"
          },
          "transactionDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "transactionStatus": {
            "type": "string",
            "enum": [
              "TransactionStatus.SUCCESS",
              "TransactionStatus.FAILED",
              "TransactionStatus.PROCESSING",
              "TransactionStatus.SUSPECT"
            ]
          },
          "transactionCurrency": {
            "type": "string",
            "enum": [
              "TransactionCurrency.IDR",
              "TransactionCurrency.USD",
              "TransactionCurrency.RP"
            ]
          },
          "transactionAmount": {
            "type": "number"
          },
          "transactionAmountEquivalent": {
            "type": "number"
          },
          "transactionFee": {
            "type": "number"
          },
          "esbErrorCode": {
            "type": "string"
          },
          "srcSystemErrorCode": {
            "type": "string"
          },
          "srcSystem": {
            "type": "string"
          },
          "errorDesc": {
            "type": "string"
          },
          "coreRefNo": {
            "type": "string"
          },
          "srcAccountNo": {
            "type": "string"
          },
          "srcAccountType": {
            "type": "string"
          },
          "srcAccountOwnerName": {
            "type": "string"
          },
          "srcAccountCurrency": {
            "type": "string"
          },
          "srcBankCode": {
            "type": "string"
          },
          "srcBankName": {
            "type": "string"
          },
          "dstAccountNo": {
            "type": "string"
          },
          "dstAccountType": {
            "type": "string"
          },
          "dstAccountOwnerName": {
            "type": "string"
          },
          "dstAccountCurrency": {
            "type": "string"
          },
          "dstBankCode": {
            "type": "string"
          },
          "dstBankName": {
            "type": "string"
          },
          "tranAdditionalData1": {
            "type": "string"
          },
          "tranAdditionalData2": {
            "type": "string"
          },
          "tranAdditionalData3": {
            "type": "string"
          },
          "transactionExchangeRate": {
            "type": "number"
          },
          "scheduleTransactionId": {
            "type": "integer",
            "format": "int64"
          },
          "transactionState": {
            "type": "string",
            "enum": [
              "INQUIRY",
              "EXECUTE",
              "INQUIRY_PARTIAL",
              "SCHEDULED",
              "CARDLESS_EXPIRED",
              "CARDLESS_COMPLETED",
              "CARDLESS_PENDING",
              "CARDLESS_FAILED"
            ]
          },
          "receiptData": {
            "type": "string"
          },
          "receiptIdn": {
            "type": "string"
          },
          "receiptEng": {
            "type": "string"
          },
          "bpName": {
            "type": "string"
          },
          "msgRefNo": {
            "type": "string"
          },
          "billRefNo": {
            "type": "string"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "isPhoneNumber": {
            "type": "boolean"
          },
          "phoneNumber": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "isFavorite": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "destinationNumber": {
            "type": "string"
          },
          "destinationOwnerName": {
            "type": "string"
          },
          "destinationCode": {
            "type": "string"
          },
          "destinationName": {
            "type": "string"
          }
        }
      },
      "GetTransactionHistoryByIdRequest": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GetTransactionHistoryByIdResponse": {
        "type": "object",
        "properties": {
          "transactionHistory": {
            "$ref": "#/components/schemas/TTransactionHistory"
          }
        }
      },
      "ISTResponseDtoGetTransactionHistoryByIdResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/GetTransactionHistoryByIdResponse"
          }
        }
      },
      "TransferDestinationRequest": {
        "type": "object",
        "properties": {
          "transactionCategory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ISTResponseDtoTransferDestinationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/TransferDestinationResponse"
          }
        }
      },
      "TransferDestinationResponse": {
        "type": "object",
        "properties": {
          "destinationList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryRes"
            }
          }
        }
      },
      "AllRecentTransferRequest": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          }
        }
      },
      "ISTResponseDtoObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "codeSystem": {
            "type": "string"
          },
          "waitingTimeMin": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "engMessage": {
            "type": "string"
          },
          "messageError": {
            "type": "string"
          },
          "remainingAttempt": {
            "type": "string"
          },
          "activityRefCode": {
            "type": "string"
          },
          "result": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}