{
  "openapi": "3.0.3",
  "info": {
    "title": "Sistema Datapilar Contact Form API",
    "description": "API endpoint for processing contact form submissions from the Sistema Datapilar website. This definition is intended for integration with security tools like Imperva WAF to enforce a positive security model.",
    "version": "1.0.0",
    "contact": {
      "name": "Sistema Datapilar Support",
      "email": "info@sistema.co.id"
    }
  },
  "servers": [
    {
      "url": "https://sistema.co.id/",
      "description": "Sistema Server"
    }
  ],
  "paths": {
    "/send_email.php": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Submit Contact Form",
        "description": "Processes a user's contact form submission, validates the data, and sends it to the designated recipient email. All requests must conform to the defined schema.",
        "operationId": "submitContactForm",
        "requestBody": {
          "description": "Data submitted from the contact us form.",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "User's first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "User's last name."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address for reply."
                  },
                  "phone": {
                    "type": "string",
                    "description": "User's phone number (optional in backend, but required by form)."
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the inquiry."
                  },
                  "message": {
                    "type": "string",
                    "description": "The main body of the user's message."
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Occurs when validation fails due to missing fields or an invalid email format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. Occurs if the endpoint is accessed using a method other than POST.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Occurs if the server's mail function fails to send the email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponseSuccess": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "message": {
            "type": "string",
            "example": "Thank you! Your message has been sent successfully."
          }
        }
      },
      "ApiResponseError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string"
          }
        },
        "examples": {
            "InvalidEmail": {
                "status": "error",
                "message": "Please enter a valid email address."
            },
            "MissingFields": {
                "status": "error",
                "message": "Please fill in all required fields (Email and Message)."
            },
            "MailFailure": {
                "status": "error",
                "message": "Sorry, something went wrong and we could not send your message."
            }
        }
      }
    }
  }
}